/* Base font size for desktop */
html {
  font-size: calc(0.2em + 1vw);
}

/* Font size for tablets (width between 600px and 900px) */
@media (max-width: 900px) and (min-width: 600px) {
  html {
    font-size: calc(0.3em + 1vw);
  }
}

/* Font size for mobile devices (width less than 600px) */
@media (max-width: 600px) {
  html {
    font-size: calc(0.4em + 1vw);
  }
  select {
    font-size: 16px;
  }
  option {
    font-size: 16px;
  }
}
body {
  background-color: aliceblue;
}
.background {
  background-color: aliceblue;
}
.active {
  background-color: lightgray;
}

/* home page */
.select-question {
  text-align: center;
}

/* results */
#speakOriginal,
#speakTranslated {
  display: block;
}

.text-font {
  font-family: "Courier New", Times, serif;
}

.translation {
  color: #2832c2;
}
.scrollable-paragraph {
  height: 200px;
  overflow-y: auto;
}
@media (min-width: 600px) {
  .navbar-height {
    height: 3rem;
  }
}
