<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>Translation and Synthesis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=now()) }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-info-subtle short-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/favicon.png', v=now()) }}"
                    alt="brand logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/about">About</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="d-flex gap-5 justify-content-center m-3">
            <div class="d-flex align-items-center" style="height: h-100">
                <div>
                    <h2 class="">Traveler's Translator</h2>
                    <p>Navigate the world with language</p>
                </div>
            </div>
            <div>
                <img src="{{url_for('static', filename='images/ask_bus_driver_150.png')}}" alt="Ask the bus driver"
                    class="img-fluid">
            </div>
        </div>



        <form id="myForm" method="POST">
            <div class="m-3">
                <div class="text-start dropdown m-2  select-question">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Select a common traveler's question in English
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Where is the nearest ATM?</a></li>
                        <li><a class="dropdown-item" href="#">How much is a taxi to the airport?</a></li>
                        <li><a class="dropdown-item" href="#">What's the best way to get to the museum?</a></li>
                        <li><a class="dropdown-item" href="#">Is this tap water safe to drink?</a></li>
                        <li><a class="dropdown-item" href="#">Where can I find a good local restaurant?</a></li>
                        <li><a class="dropdown-item" href="#">Do you have Wi-Fi?</a></li>
                        <li><a class="dropdown-item" href="#">Where is the closest pharmacy?</a></li>
                        <li><a class="dropdown-item" href="#">How much does a bus ticket cost?</a></li>
                        <li><a class="dropdown-item" href="#">Is there a tourist information center nearby?</a></li>
                        <li><a class="dropdown-item" href="#">What time does the market open?</a></li>
                        <li><a class="dropdown-item" href="#">Can I pay with a credit card?</a></li>
                        <li><a class="dropdown-item" href="#">Where can I exchange currency?</a></li>
                        <li><a class="dropdown-item" href="#">Is it safe to walk here at night?</a></li>
                        <li><a class="dropdown-item" href="#">Where is the train station?</a></li>
                        <li><a class="dropdown-item" href="#">How far is it to the beach?</a></li>
                        <li><a class="dropdown-item" href="#">Is there a laundry service here?</a></li>
                        <li><a class="dropdown-item" href="#">What is the local specialty dish?</a></li>
                        <li><a class="dropdown-item" href="#">Does this bus go to the city center?</a></li>
                        <li><a class="dropdown-item" href="#">Where can I buy a local SIM card?</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center m-3">
                <h4>OR</h4>
            </div>
            <div class="x-3 m-3"><span class="fw-bold">Enter the text in any language that you want your translation from:</span>
               </div>
                <div class="text-center m-3">
                    <div class="form-group">
                        <textarea id="input_text" name="text" cols="15" rows="2" class="form-control"></textarea>
                    </div>
                </div>

                <h4 class="text-center mt-3">Translation Language</h4>
                <div class="m-3"><span class="fw-bold">Select the language you want your text translated to:</span>
                </div>

                <div class="border border-dark text-center m-3">
                    <div class="btn-group flex-wrap m-3" role="group" aria-label="Language to translate to">

                        <input type="radio" value="en" class="btn-check" name="language" id="btnradio1"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">English</label>

                        <input type="radio" value="ar" class="btn-check" name="language" id="btnradio0"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio0">Arabic</label>

                        <input type="radio" value="zh" class="btn-check" name="language" id="btnradio9"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio9">Chinese</label>

                        <input type="radio" value="fr" class="btn-check" name="language" id="btnradio2"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">French</label>

                        <input type="radio" value="de" class="btn-check" name="language" id="btnradio3"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">German</label>

                        <input type="radio" value="he" class="btn-check" name="language" id="btnradio02"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio02">Hebrew</label>

                        <input type="radio" value="hi" class="btn-check" name="language" id="btnradio01"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio01">Hindi</label>

                        <input type="radio" value="it" class="btn-check" name="language" id="btnradio4"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio4">Italian</label>

                        <input type="radio" value="ja" class="btn-check" name="language" id="btnradio5"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio5">Japanese</label>

                        <input type="radio" value="ru" class="btn-check" name="language" id="btnradio6"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio6">Russian</label>

                        <input type="radio" value="es" class="btn-check" name="language" id="btnradio7"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio7">Spanish</label>

                        <input type="radio" value="uk" class="btn-check" name="language" id="btnradio8"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio8">Ukrainian</label>

                        <input type="radio" value="zu" class="btn-check" name="language" id="btnradio03"
                            autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio03">Zulu</label>
                    </div>
                </div>


                <div class="m-3 text-end">
                    <button type="submit" class="btn btn-lg btn-primary">Translate</button>
                </div>

        </form>
    </div>

    <script src="{{ url_for('static', filename='js/askQuestion.js', v=now()) }}"></script>

</body>

</html>